{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  &nbsp;


  &nbsp;

    <div class="content-section">
      <p> <b>Details: <br> </b> 

        {{ sweetspot.details }} 
       </p>
    </div>

    <div id="details-list">
      <p><b>User</b>: {{ sweetspot.user }}</p>
      <p><b>Date posted</b>: {{ sweetspot.date_posted }}</p>
      <p><b>Location</b>: {{ sweetspot.latitude }}, {{ sweetspot.longitude }}</p>
      <p><b>Description</b>: {{ sweetspot.details }}</p>
      <p><b>Species</b>: {{ sweetspot.species }}</p>
      
    </div>
    
{% endblock content %}